body {
    color: rgb(253, 253, 253);
    background: rgb(75, 20, 54);
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(247, 248, 248);
    padding: 20px;
    font-size: 32px;
    color: rgb(248, 248, 248);
}
section {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
  }
h1 {
    font-size: 40px;
  }
p {
    font-size: 20px;
  }
  img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;

  }
